* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color: #2f303a;
  --button-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --button-text-color: #ffffff;
  --secondary-background: #f5f4fa;
  --project-item-border: #e5e5e5;
  --header-border: #ececec;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  line-height: 1.17;
  border-bottom: 1px solid var(--header-border);
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  gap: 93px;
  align-items: center;
}

.nav-list-item a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
}
.nav-list-item:nth-child(2) {
  margin-right: 70px;
}
.nav-list-item:nth-child(1) {
  margin-right: 53px;
}
.nav-list-item:hover {
  color: var(--button-color);
}
.logo {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
}
.logo-span {
  color: var(--button-color);
}
.header-mail {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
}
.header-mail:hover {
  color: var(--button-color);
  stroke: var(--button-color);
}
.header-tel {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
}
.header-tel:hover {
  color: var(--button-color);
  stroke: var(--button-color);
}
.mail-icon {
  margin-right: 10px;
}
.tel-icon {
  margin-right: 10px;
}
.list {
  list-style-type: none;
  display: flex;
}
/*

main page styles

*/
.title {
  background: var(--background-color);
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(to bottom, #00000040, #00000040),
    url(../images/title.jpg);
  background-size: 1600px auto;
  background-repeat: no-repeat;
  background-position: center;
}
.title-header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: var(--button-text-color);
  margin-bottom: 30px;
  max-width: 58%;
  margin: 0 auto 30px;
}
.buttons {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}
.benefits {
  text-align: left;
  padding: 94px 0;
}
.benefits-list {
  gap: 30px;
}

.benefits-list-item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.benefits-list-item-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.benefits-list-item {
  width: 270px;
}
.benefits-icons {
  background-color: var(--secondary-background);
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 20px 100px;
}

.offers {
  text-align: center;
  padding-bottom: 86px;
}
.offers-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.offers-list {
  justify-content: center;
  gap: 30px;
}
.team {
  background: var(--secondary-background);
  text-align: center;
  padding: 102px 0 86px;
}
.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  justify-content: center;
  gap: 30px;
}
.team-list-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px 0px #0000001f;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 2px 1px 0px #00000033;
}
.team-member-image {
  display: block;
}
.team-member {
  background-color: var(--button-text-color);
  text-align: center;
  padding: 30px 0px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team-member-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.team-member-job {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  text-transform: capitalize;
  margin-bottom: 28px;
}
.team-member-social {
  text-decoration: none;
  padding: 12px;
}

.team-member-social:hover,
.team-member-social:focus {
  fill: var(--button-text-color);
  background-color: var(--button-color);
  border-radius: 50%;
}
.customers {
  padding: 94px 215px;
}
.customers-header {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}
.customers-list {
  gap: 30px;
}
.customers-list-item {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.customers-list-item:hover,
.customers-list-item:focus {
  fill: var(--button-color);
}

/*

portfolio styles

*/
.portfolio-box {
  padding: 94px 0px;
  margin: 0 auto;
}
.filters-list {
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-list-button {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--secondary-background);
  color: var(--main-text-color);
  text-transform: capitalize;
  padding: 6px 26px;
}
.filters-list-button:hover,
.filters-list-button:focus {
  background-color: var(--button-color);
  color: var(--button-text-color);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 27px;
}
.project-list-item {
  border: 1px solid var(--project-item-border);
}
.project-list-item-description {
  text-transform: capitalize;
  margin: 20px 24px;
}
.project-list-item-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list-item-category {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.project-list-item-span {
  text-transform: lowercase;
}
.project-list-item-span-caps {
  text-transform: uppercase;
}

/*

portfolio styles

*/

.footer {
  background-color: var(--background-color);
  line-height: 1.17;
  padding: 60px 0 60px;
}
.footer-logo {
  color: var(--button-text-color);
  margin: 0px;
}
.footer-address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  color: var(--button-text-color);
  font-size: 14px;
  line-height: 1.71;
  max-width: 231px;
}
.footer-adddres-anchor {
  text-decoration: none;
  color: #ffffff99;
}
